/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly.
- webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

/* *********************************** */
/*   Mis estilos                       */
/* *********************************** */

/* Variables */

:root {
  --fondo-base: #222;
  --fondo-contraste: #4e4e4e;
  --color-acentado: #00ffff;
  --color: #ffffff;
  --color-red: #ff0000;
  --color-orange: #ff8a00;
  --color-green: #05ff00;
  --border-radius: 5px;
}

/* Estilos generales */

/* Estilos básicos */
body {
  background-color: var(--fondo-base);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}
input::placeholder {
  opacity: 30%;
}

/* Estilos de la app */
.recordatorio-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.recordatorio-input {
  padding: 8px;
  font-size: 16px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-acentado);
  background-color: var(--fondo-contraste);
  color: var(--color);
}

.recordatorio-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: var(--color-acentado);
  color: var(--fondo-base);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.recordatorio-button:hover {
  background-color: var(--color);
  color: var(--fondo-base);
}

.recordatorio-button:disabled {
  background-color: var(--fondo-contraste);
  color: var(--color-acentado);
  cursor: not-allowed;
}

.recordatorio-button:disabled:hover {
  background-color: var(--fondo-contraste);
  color: var(--color-acentado);
}

.recordatorio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.recordatorio-list-item {
  padding: 8px;
  font-size: 16px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-acentado);
  background-color: var(--fondo-contraste);
  color: var(--color);
  margin-bottom: 8px;
}

.recordatorio-list-item:hover {
  background-color: var(--color-acentado);
  color: var(--fondo-base);
}

.recordatorio-list-item:disabled {
  background-color: var(--fondo-contraste);
  color: var(--color-acentado);
  cursor: not-allowed;
}

.recordatorio-list-item:disabled:hover {
  background-color: var(--fondo-contraste);
  color: var(--color-acentado);
}

.recordatorio-list-item:last-child {
  margin-bottom: 0;
}

.recordatorio-list-item--done {
  text-decoration: line-through;
}

.recordatorio-list-item--done:hover {
  background-color: var(--color-acentado);
  color: var(--fondo-base);
}

.recordatorio-list-item--done:disabled {
  background-color: var(--fondo-contraste);
  color: var(--color-acentado);
  cursor: not-allowed;
}

.recordatorio-list-item--done:disabled:hover {
  background-color: var(--fondo-contraste);
  color: var(--color-acentado);
}

.recordatorio-list-item--done:last-child {
  margin-bottom: 0;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.app-nav {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.app-content {
  margin-top: 20px;
}
